name: dbt project evaluator CI check
on:
  push:
    branches: [ "feature/*" ]
  pull_request:
    branches: [ "main" ]
env:
  DBT_PROJECT_NAME: jaffle_shop
  DBT_DW_ACCOUNT_URL: ${{ secrets.DBT_DW_ACCOUNT_URL }}
  DBT_DW_USER: ${{ secrets.DBT_DW_USER }}
  DBT_DW_PASSWORD: ${{ secrets.DBT_DW_PASSWORD }}
  DBT_DW_ROLE: ${{ secrets.DBT_DW_ROLE }}
  DBT_DW_DB: ${{ secrets.DBT_DW_DB }}
  DBT_DW_SCHEMA: ${{ secrets.DBT_DW_SCHEMA }}
  DBT_DW_VIRT_WH: ${{ secrets.DBT_DW_VIRT_WH }}
  DBT_NUM_THREADS: 20
  DBT_QUERY_TAG: dbt_evaluator_pipe
  
jobs:
    compile:
        name: Build and Compile dbt Project
        runs-on: ubuntu-latest
        steps:
          - name: Check out the repo hosting the dbt project
            uses: actions/checkout@main
          - name: create string
            run: |
              MY_STRING=$(cat << EOF
              ${{ env.DBT_PROJECT_NAME }}:
                target: dev
                outputs:
                  dev:
                    type: snowflake
                    account: ${{ env.DBT_DW_ACCOUNT_URL }} 
                    client_session_keep_alive: true
                    database: ${{ env.DBT_DW_DB }}
                    password: ${{ env.DBT_DW_PASSWORD }}
                    query_tag: ${{ env.DBT_QUERY_TAG }}
                    role: ${{ env.DBT_DW_ROLE }}
                    schema: ${{ env.DBT_DW_SCHEMA }}
                    threads: ${{ env.DBT_NUM_THREADS }}
                    user: ${{ env.DBT_DW_USER }}
                    warehouse: ${{ env.DBT_DW_VIRT_WH }}
              EOF
              )
              MY_STRING="${MY_STRING//'%'/'%25'}"
              MY_STRING="${MY_STRING//$'\n'/'%0A'}"
              MY_STRING="${MY_STRING//$'\r'/'%0D'}"
              echo "::set-output name=content::$MY_STRING"
            id: my_string
          - name: display string
            run: |
              echo "The string is: ${{ steps.my_string.outputs.content }}"
          - name: Create .dbt directory and profiles.yml
            run: |
              mkdir -p /home/runner/.dbt
              touch /home/runner/.dbt/profiles.yml
              cat /home/runner/.dbt/profiles.yml
              echo -e "${{ steps.my_string.outputs.content }}" >>  /home/runner/.dbt/profiles.yml
              cat /home/runner/.dbt/profiles.yml
          - name: Install dependencies
            run: |
                pip install dbt-snowflake
                dbt deps
          - name: Build dbt project using project evaluator package                
            run: dbt build --select package:dbt_project_evaluator dbt_project_evaluator_exceptions
