name: Sqlfluff CI pipe to lint models in dbt projects
on:
  push:
    branches: [ "feature/*" ]
  pull_request:
    branches: [ "main" ]
env:
  DBT_PROJECT_NAME: dbt_snowflake_tutorial_v2
  
jobs:
    compile:
        name: Build and Compile dbt Project
        runs-on: ubuntu-latest
        steps:
          - name: Check out the repo hosting the dbt project
            uses: actions/checkout@main
          - name: Get and Use sqlfluff docker image to lint dbt project
            uses: addnab/docker-run-action@v3
            with:
                image: sqlfluff/sqlfluff:1.4.2
                options: -v ${{ github.workspace }}:/work -e ABC=123
                run: |
                  sudo -H pip install dbt-snowflake sqlfluff-templater-dbt
                  pip list
                  cd /work/models
                  sqlfluff --version
                  pip list
                  ls -ltr
                  sqlfluff lint
