name: Sqlfluff CI pipe
on:
  push:
    branches: [ "feature/*" ]
  pull_request:
    branches: [ "main" ]
env:
  DBT_PROJECT_NAME: dbt_snowflake_tutorial_v2
  
jobs:
    compile:
        name: Build and Compile dbt Project
        runs-on: ubuntu-latest
        steps:
          - name: Check out the repo hosting the dbt project
            uses: actions/checkout@main
          - name: Set up Python virtual environment
            uses: actions/setup-python@v4
            with:
                python-version: '3.10'
          - name: install sqlfluff python package
            run: pip install sqlfluff
          - name: install sqlfluff templater for dbt
            run: pip install dbt-snowflake sqlfluff-templater-dbt
          - name: linting sql model files
            run: |
                cd /work/models
                sqlfluff --version
                pip list
                ls -ltr
                sqlfluff lint .
